.App {
 margin: 10%;
}

h1{
  margin-bottom: 2%;
  text-decoration: underline;
  font-family:fantasy;
  font-size: 4rem;
  font-weight: 800;
}

img{
  float: right;
  width: 20%;
  margin-top: -15%;
}

div.card{
  margin-top: 1rem;
}