.App {
 margin: 5%;
 padding: 5%;
 background-color: bisque;
}

h1{
  margin-bottom: 2%;
  text-decoration: underline;
  font-family:fantasy;
  font-size: 4rem;
  font-weight: 800;
}

.globe{
  float: right;
  width: 20%;
  margin-top: -15%;
}

div.card{
  margin: 1rem 1rem;
}
